<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<!--<div th:each="el: ${product}">-->
<!--    <h1 th:text="${el.name}"></h1>-->
<!--</div>-->

<div class="container">

    <h1 style="color: #4c2822; margin-bottom: 10px" th:text="${product.name}"/>
    <div class="product">
        <div class="product-image">
            <img th:src="@{'/images/' + ${product.image} }" class="product-img-big">
        </div>
        <div class="product-info">
            <div class="parametrs"/>
            <div class="tabs">
                <div class="tabs-header">
                    <div class="tabs-header__item">Описание</div>
                </div>
                <div class="tabs-content">
                    <div class="tabs-content__item">
                        <p>Шоколадный Оскар является одним из
                            самых популярных товаров в нашем интернет-магазине шоколадных фигурок. Эта статуэтка
                            является
                            символом признания достижений человека в как бы любой сфере деятельности. Если этот текст
                            про
                            шоколадного Оскара такой маленький, то как он повлияет на продвижение страницы? Ведь Оскары
                            из
                            шоколада бывают разные как по размеру, так и по качеству.</p>
                        <p>Тот, что поменьше — скромный, и соответствует своей цене. А большой — очень красивый и
                            поэтому
                            дорогой. Что ещё можно сказать про статуэтку Оскар? Нанесение надписи на подставку делает
                            подарок очень личным. Можно так же нанести логотип. За лучшую роль в моей жизни. Спасибо за
                            сладостные минуты. И так далее.</p>
                        <p>Шоколадный оскар. Похожий товар –шоколадный
                            кубок.</a> Вручение награды происходит раз в год. В феврале. В Лос-Анжелесе. Начиная с 1929
                            года. Сперва называлась просто “Приз c 1940
                            года получила название Оскар. На сегодняшний день это самая значительная и престижная в мире
                            кино награда.</p>
                        <p>Правила награждения неоднократно менялись. На всей планете внимательно следят за премией.
                            Всегда
                            сохраняется интрига. Среди советских режиссеров обладателей этой премии Меньшов и Михалков.
                            Долгую дорогу к награде проделал несравненный Лео.</p>
                        <p>Статуэтку Оскар предлагают купить из чего только не делают. Керамика. Пластик. Но разве эти
                            материалы сравнятся с шоколадом? Он, несомненно, менее долговечен. Но память о таком подарке
                            врезается на всю жизнь.</p>
                    </div>
                </div>
                <div class="parametrs">
                    <div class="parametrs-price">
                        <p>Цена</p>
                        <div th:text="${product.price}"/>
                    </div>
                    <div class="parametrs-button">
                        <button>Купить!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>