<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__body">
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a class="header__link" th:href="@{/login}">Авторизация</a>
                    </li>
                    <li>
                        <a class="header__link" href="#">О нас</a>
                    </li>
                    <li>
                        <a class="header__link" th:href="@{/products}">Продукция</a>
                    </li>
                    <li class="stretched">
                        <a class="header__link" href="#"></a>
                    </li>
                    <li>
                        <a class="header__link" href="#">Оформить заказ</a>
                    </li>
                    <li>
                        <a class="header__link" th:href="@{/admin/user}">Панель администратора</a>
                    </li>
                </ul>
            </nav>
            <div class="header__burger">
                <span></span>
            </div>
            <a class="header__logo" th:href="@{/}">
                <b>SweetChoco</b>
            </a>
        </div>
    </div>
</header>

<!-------------offer--------------->
<section class="offer">
    <div class="offer__shadow">
        <div class="container">
            <h1 class="offer__title">Высококачественный шоколад</h1>
            <p class="offer__subtitle">
                Мы облегчаем ежедневное употребление фруктов и овощей, необходимых каждому!
            </p>
            <button class="offer__button main__btn">
                Оформить заказ
            </button>
        </div>
    </div>
    <img class="wave" src="wave.svg"/>
</section>

<!-----Секция "О нас"---->
<section class="about">
    <div class="container">
        <div class="top-title">О нас</div>
        <div class="info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cumque facere iure nisi porro
            repudiandae sunt. Amet, corporis cumque deleniti
            distinctio ea eligendi error excepturi explicabo ipsa ipsam itaque, labore minus molestiae molestias
            nostrumq
            uisquam repellat sequi sunt tempore tenetur, velit vero voluptatem? Architecto doloribus error magnam maxime
            quam!
        </div>
    </div>
</section>
<br><br><br><br><br>

<!--Секция с каталогами товаров-->
<section>
    <div class="container">
        <div class="top-title">Каталог</div>
        <div class="catalog">
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2020/03/shokoladnye-figurki.jpg" class="catalog__image">
                <div class="catalog__title">Шоколадные фигурки</div>
            </a>
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2020/03/shokoladnye-kartiny.jpg" class="catalog__image">
                <div class="catalog__title">Шоколадные картины</div>
            </a>
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2019/09/shokoladnaya-mashina-leksus.jpg" class="catalog__image">
                <div class="catalog__title">Машины из шоколада</div>
            </a>
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2020/07/bukvy-shokoladnye.jpg" class="catalog__image">
                <div class="catalog__title">Шоколадные наборы</div>
            </a>
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2020/10/lev-iz-shokolada.jpg" class="catalog__image">
                <div class="catalog__title">Шоколадные скульптуры</div>
            </a>
            <a th:href="@{/products}" class="catalog__item">
                <img src="https://okakao.com/wp-content/uploads/2020/03/sedobnye-bukety.jpg" class="catalog__image">
                <div class="catalog__title">Съедобные букеты</div>
            </a>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/c5e7c95c4e.js" crossorigin="anonymous"></script>
</body>
</html>